*{margin:0;padding:0;font-family:'微软雅黑';}
li{list-style:none;}
a{text-decoration:none;color:#313031;}
a:hover{cursor:pointer;}
img{border:none;vertical-align:middle;}
input,button,a {outline:0 none !important;blr:expression(this.onFocus=this.blur());}
/*固定顶部导航*/
.Dbtop{width:100%;height:70px;overflow:hidden;box-shadow:0 3px 5px #dcdcde;
    border-top:1px solid #dcdcde;box-sizing:border-box;position:fixed;z-index:11;top:0;
    background: #ffffff;}
.Dbtop div{width:1000px;height:70px;line-height:70px;margin:auto;}
.Dbtop div>img{height:48px;float:left;padding-top:11px; }
.Dbtop div .DH{margin-left:432px;}
.Dbtop div .DH a{font-size:16px;margin-left:40px;height:66px;float:left;color:#333;}
.Dbtop div .DH a.DJ{width:32px;margin-left:0;
    height:66px;display:block;}
.Dbtop div .DH a.DJ2{font-weight:bold;border-bottom:3px solid #ffbd27;}
.Dbtop div .DH a:hover{color:#ffbd27;border-bottom:3px solid #ffbd27;}
/*展示图*/
.Jtu{height:354px;margin:70px auto;background:url(../images/b1.png) center;
    background-size:cover;animation:myFirst-01 2s ease-out 1s backwards;}
/*外卖商家入驻*/
.zenHe{width:1000px;height:1520px;margin:105px auto 75px;}
.zenHe a{display:block;width:490px;height:480px;box-shadow:0 0 5px #ccc;float:left;
    margin-right:19px;margin-bottom:40px;box-sizing:border-box;position:relative;
    text-align:center;animation:myFirst-01 2s ease-out 2s backwards;}
.zenHe a:hover{border:3px solid #ffbd27;overflow:hidden;box-shadow:none;}
.zenHe a:hover div{position:absolute;top:-3px;left:-3px;}
.zenHe a:nth-child(2){margin-right:0;}
.zenHe a:nth-child(4){margin-right:0;}
.zenHe a:last-child{width:1000px;margin-right:0;}
.zenHe a div .GF{font-size:36px;margin-top:25px;}
.zenHe a div .GF2{font-size:18px;margin-top:15px;color:#888888;}
@keyframes myFirst-01 {
    0%{opacity:0;transform:translateY(200px)}
    100%{opacity:1;transform:translateY(0px)}
}
/*底部栏目*/
.bottom{width:100%;height:287px;background:#333;}
.bottom>div{width:1000px;margin:auto;color:#aaaaaa;font-size:14px;padding-top:75px;}
.bottom div .ZleFt{float:left;margin-left:60px;}
.bottom div .ZleFt a{display:block;margin-bottom:24px;color:#aaaaaa;}
.bottom div .ZleFt a:hover{color:#fff;}
.bottom div .BTRight{float:right;margin-right:70px;}
.bottom div .BTRight .BTRp2{font-size:22px;color:#fff;margin-bottom:20px;}
.bottom div .BTRight .BTRp{margin-bottom:16px;}
.bottom div .BTRight .BTRp3{font-size:22px;color:#fff;margin:20px auto 21px;}
.bottom div .BTRight2{float:right;}
.bottom div .BTRight2 .btrP{font-size:24px;color:#fff;margin-bottom:24px;}
.bottom div .BTRight2 .btrP2{float:left;}
.bottom div .BTRight2 .btrP3{float:right;}
.bottom2{width:100%;height:72px;background:#333;border-top:1px solid #666;}
.bottom2 div{width:1000px;height:69px;text-align:center;margin:auto;}
.bottom2 div p{font-size:12px;color:#aaa;line-height:71px;}
.bottom2 div p img{padding-left:20px;display: inline-block;margin-top:-3px;}